

      body{
        margin: initial;
        padding: initial;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("Images/berry.jpg");
        background-size: cover;
        background-repeat: repeat;
        background-attachment:local;

      }

     

      main{
          width: 60vw;
        margin: 0 auto;
        padding: 100px 900px;
        align-items: center;
        justify-content: center;


      }

      /* for the first image have it in the top right corner and have words beside it to the right.*/
      img {
        width: 350px;
        float: left;
        margin-right: 50px;
      }
      /*For the title have it a bold, big, and yellow text */
      em {
        color: yellow;
        font-weight: bolder;
        font-size: 43px;
      }
      /*For the subtitle have the text green not as bold as the tile but still bold and have it color green */  
      .subtitle{
        color: green;
        font-weight: bold;
        font-size: 21px;
      }
      /*Have the welome message to have bold, black, and a font size of 30px*/
      .welcome{
        color: black;
        font-weight: bold;
        font-size: 30px;
      }
      /*Have the welcome message to have black color, light weight, and font size of 19px */
      .Intro{
        color:black;
        font-weight: 200;
        font-size: 19px;
      }
      /*Have the text a black color, font weight 200, and font size of 19px */
      .more{
        color: black;
        font-weight: 200;
        font-size: 19px;
      }
      /*Have the text a black color, bolder, and font size of 22px */
      .categories{
        color: black;
        font-weight:bolder;
        font-size: 22px;
      }
      /*Picture2 will have the width of 100px*/
      .picture2{
        width: 100px;
        border: 5px groove rgb(236, 191, 129);
        padding: 2px;
        }
      /*Have the text a black color, font weight 200, and font size of 16px */
      .orn_info{
        color: black;
        font-weight: 200;
        font-size: 16px;
    
      }
      /*Picture wreath will have a width of 100px*/
      .wreath2{
        width: 100px;
        border: 5px groove rgb(236, 191, 129);
        padding: 2px;
        
      }
      /*Have the text a black color, font weight 200, and font size of 16px */
      .wreath{
        color: black;
        font-weight:200 ;
        font-size: 16px;
      }
      /*Picture stocking will have a width of 100 px */
      .stocking{
        width: 100px;
        border: 5px groove rgb(236, 191, 129);
        padding: 2px;

      }
      /*Have the text a black color, font weight 200, and font size of 16px */
      .stock{
        color: black;
        font-weight: 200;
        font-size: 16px;
      }
      /*Have the text a black color, bolder, and font size of 40px */
      .refund{
        color: black;
        font-weight: bolder;
        font-size: 40px;
      }
      /*Have the text a black color, font weight 200, and font size of 16px */
      .shipping{
        color: black;
        font-weight: 200;
        font-size: 16px;
      }
      /*Have the text a black color, font weight 200, and font size of 16px */
      .policy{
        color: black;
        font-weight: 200;
        font-size: 16px;
        
      }
      /*Have the text a black color, font weight 200, and font size of 12px */
      .end{
        color: black;
        font-weight: 200;
        font-size: 12px;
      }

      .line-1{
        position: relative;
        display: inline;

      }

      
      .line-1::after{
        content: '';
        width: 3px;
        height: 964px;
        display: block;
        background-color: rgb(234, 220, 15);
        position: absolute;
        left: 800px;
        top: 580px;
      }

      .line-2{
        position: relative;
        display: inline;

      }

      .line-2::after{
        content: '';
        width: 1550px;
        height: 3px;
        background-color: rgb(234, 234, 26);
        position: absolute;
        top: 550px;
        left: 500px; 
      }

      .line-3{
        position: relative;
        display: inline;

      }

      .line-3::after{
        content: '';
        width:  1550px;
        height: 3px;
        background-color: rgb(234, 234, 26);
        position: absolute;
        top: 1550px;
        left: 500px; 
      }

  

      


    